<% groups.each do |group| %>
  <div class="card">
    <div class="card-img">
      <%= link_to group, class: "group_#{group.id}" do %>
        <%= image_tag group.get_image, class: "card-img" %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="card-title">
        <%= group.name %>
      </div>
      <div class="card-text">
        <%= group.users.count %>人が参加中
      </div>
    </div>
  </div>
<% end %>
   