  <ul class="nav nav-tabs" id="tabs">
    <li class="tab tab-active">記事一覧</li>
    <li class="tab">グループ一覧</li>
    <li class="tab">タグ一覧</li>
  </ul>
  <!--タブで選択された要素部分-->
  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <div class="container px-5 px-sm-0">
        <div class="row">
          <div class="mx-3"><h3 class="mb-5 mini-title">記事一覧</h3></div>
            <div class="col-12 col-md-12 col-sm-12 mx-2 mx-sm-auto px-0 my-5 list">
              <%= render "public/articles/index", articles: @articles %>
            </div>
          </div>
        </div>
    </div>
    <div class="tabbox">
      <div class="container px-5 px-sm-0">
        <div class="row">
          <div class="mx-3"><h3 class="mb-5 mini-title">グループ一覧</h3></div>
          <div class="col-12 col-md-12 col-sm-12 mx-2 mx-sm-auto px-0 my-5 list">
            <%= render "public/groups/index", groups: @groups %>
          </div>  
        </div>
      </div>
    </div>
    <div class="tabbox">
      <div class="container px-5 px-sm-0">
        <div class="row">
          <div class="mx-3"><h3 class="mb-5 mini-title">タグ一覧</h3></div>
          <div class="col-12 col-md-12 col-sm-12 mx-2 mx-sm-auto px-0 my-5 list">
            <%= render "public/articles/tag_index", groups: @groups %>
          </div>  
        </div>
      </div>
    </div>
  </div>
  

  　

   
 