<ul class="tab-list list-unstyled">
  <li class="tab tab-active">記事</li>
  <li class="tab">グループ</li>
  <li class="tab">Pick</li>
</ul>
<!--タブで選択された要素部分-->
<div class="tabbox-contents">
  <div class="tabbox box-show">
    <%= render "public/articles/index", articles: @articles %>
  </div>
  <div class="tabbox">
    <%= render "public/groups/index", groups: @groups %>
  </div>
  <div class="tabbox">
  </div>
    
</div>


  　

   
 