記事一覧

<% @articles.each do |article| %>
<table>
  <tr>
    <td>タイトル</td>
    <td>
      <%= link_to article_path(article.id) do %>
        <%= article.title %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>内容</td>
    <td><%= article.body %></td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>


<% end %>