<table>
  <tr>
    <th>ニックネーム</th>
    <th>
      <%= link_to edit_user_path do %>
        <%= @user.screen_name %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>紹介文</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>