<div class="container">
  <div class="row d-flex justify-content-center">
    <ul>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-instagram-square fa-2x social-btn"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-facebook-square fa-2x social-btn"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to do %>
          <i class="fab fa-twitter-square fa-2x social-btn"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="contac">
     <%= link_to "お問い合わせ", new_contact_path %>
  </div>
  <div class="row d-flex justify-content-center">
    <p>© 2022</p>
  </div>
</div>